{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="login-page" id="change_password">
      <h2>Zmień hasło</h2>
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}


        <div class="form-group form-group--buttons">
          <a href="registration/login.html" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Zmień hasło</button>
        </div>
      </form>
    </section>

{% endblock content %}