{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated %}

<div style="width: 500px; margin: 30px auto;" id="form">
    <h2>Uzupełnij swój profil</h2>
    <form class="form--contact" method="post" action="{% url 'profil' %}">
        {% csrf_token %}
          <div class="form-group form-group--50">{{ form.first_name }}</div>
          <div class="form-group form-group--50">{{form.last_name}}</div>

          <button class="btn" type="submit" style="margin: 20px auto">Zapisz</button>
    </form>
</div>
{% endif %}

{% endblock content %}