{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{#    <form method="post">#}
{#        {{ form|crispy }}#}
{#    <button type="submit">Zapisz!</button>#}
{#    </form>#}
<div style="width: 500px" id="form">

    <form class="form--contact" method="post" action="{% url 'profil' %}">
        {% csrf_token %}
          <div class="form-group form-group--50">{{ form.first_name }}</div>
          <div class="form-group form-group--50">{{form.last_name}}</div>

          <button class="btn" type="submit">Zapisz</button>
    </form>
</div>


{% endblock content %}