   {% for institution in institutions %}
              <label class="org" data-id="{{ institution.id }}">
                <input type="radio" name="organization" class="iii" value="{{ institution.id }}" data-text="{{ institution.name }}"/>
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">{{ institution.name }}</div>
                  <div class="subtitle">
                    Cel i misja: {{ institution.description }}
                  </div>
                </span>
              </label>
                              {% endfor %}